---
import { appConfig } from '@root/app.config';

const { title, description } = Astro.props;

const fullTitle = title ? `${title} — ${appConfig.title}` : appConfig.title;
---

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <link rel="icon" type="image/x-icon" href="favicon.ico" />

  <title>{fullTitle}</title>
  <meta name="title" content={title} />
  <meta name="description" content={description} />
  <base href={import.meta.env.BASE_URL} />
</head>
